body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f4cb03;
  background-color: #f4cb03;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #646b1d;
  padding: 25px;
}
header img {
  height: 60px; /* اضبط الارتفاع حسب الحاجة */
  width: auto; /* يمكن تركه تلقائي للحفاظ على نسبة العرض إلى الارتفاع */
  pointer-events: none;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 10;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: #070707;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: #646b1d;
}
h2 {
  margin-top: 10px;
  color: #646b1d;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #646b1d;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Header {
  background-color: #0755f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(243, 6, 6);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
